web/node-red-flow-schema (1).json
[
  {
    "id": "tab.1",
    "type": "tab",
    "label": "DAG: Inject + Function + Switch + Calculator + Debug",
    "disabled": false,
    "info": "有向无环: inject → function → switch → calculator/debug"
  },
  {
    "id": "inject.1",
    "type": "inject",
    "z": "tab.1",
    "name": "Trigger",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "10",
    "payloadType": "num",
    "x": 120,
    "y": 200,
    "wires": [
      [
        "function.1"
      ]
    ]
  },
  {
    "id": "function.1",
    "type": "function",
    "z": "tab.1",
    "name": "Prepare",
    "func": "msg.payload = typeof msg.payload === 'number' ? msg.payload : Number(msg.payload) || 0;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 200,
    "wires": [
      [
        "switch.1",
        "8471444073f9dc63"
      ]
    ]
  },
  {
    "id": "switch.1",
    "type": "switch",
    "z": "tab.1",
    "name": "Is number?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "istype",
        "v": "number",
        "vt": "number"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 480,
    "y": 200,
    "wires": [
      [
        "math.1"
      ],
      [
        "debug.2"
      ]
    ]
  },
  {
    "id": "math.1",
    "type": "math-calculator",
    "z": "tab.1",
    "name": "Add 5",
    "operation": "add",
    "operand1": "payload",
    "operand2": "5",
    "operand2Type": "num",
    "resultProperty": "payload",
    "round": false,
    "precision": "2",
    "x": 680,
    "y": 160,
    "wires": [
      [
        "debug.1"
      ]
    ]
  },
  {
    "id": "debug.1",
    "type": "debug",
    "z": "tab.1",
    "name": "Calc result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 160,
    "wires": []
  },
  {
    "id": "debug.2",
    "type": "debug",
    "z": "tab.1",
    "name": "Not number",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 400,
    "wires": []
  },
  {
    "id": "8471444073f9dc63",
    "type": "switch",
    "z": "tab.1",
    "name": "Is number?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "istype",
        "v": "number",
        "vt": "number"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 490,
    "y": 280,
    "wires": [
      [
        "math.1"
      ],
      [
        "debug.2"
      ]
    ]
  }
]